*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    justify-content: center;
    align-items: center;
 
}

.section{
    width: 100%;
    height: 700px;
    background:#F0F2F5;
    display: flex;
    

}

.head{
   position: relative;
   margin-top: 198px;
    margin-left: 224px;
   font-size: 60px;
    color: #0866FF;
    font-family: Helvetica, Arial, sans-serif;;
}

span{
    position: relative;
    margin-top: 278px;
    margin-left: -260px;
    font-size: 28px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    
}

.login-box{
    width: 400px;
    height: 350px;
    
    margin-top: 130px;
    margin-left: 87px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(69, 68, 68, 0.2);
}

.username,.password{
    width: 93%;
    height: 55px;
    font-size: 17px;
    margin: 16px 0px 10px 15px ;
    border-radius: 7px;
    padding: 10px;
    opacity: 0.8;
    border: none;
    border: 1px solid rgb(167, 167, 165);
}

.password{
       margin: 5px 0px 10px 15px ;
    
}

.password:focus-within{
    outline: 1px solid #0866FF;
}
.username:focus-within{
    outline: 1px solid #0866FF;
}

.btn-log{
    width: 93%;
    height: 45px;
    border-radius: 7px;
    margin: 5px 0px 10px 15px ;
    background:#1877F2 ;
    border: none;
    color: white;
    font-size: 20px;
    
}

.for-center{
    margin-top: 8px;
    margin-bottom: 20px;
}

#for-pass{
    color: #0866FF;
    text-decoration: none;
    transition: 1s;
}

#for-pass:hover{
    text-decoration: underline;
}

.line{
    width: 90%;
    margin-left: 5%;
    opacity: 0.4;
}

.btn-cre{
    width: 50%;
    height: 45px;
    margin: 22px 0px 0px 100px;
    background:#36A420;
    color: white;
    border-radius: 7px;
    border: none;
     font-size: 18px; 
}
.btn-cre:hover{
    background:#32981d;
}

p{
    margin-top: 500px;
    right: 285px;
    position:absolute;
    
}